*{
    margin: 0;
    padding-top: 10px;
}

.grid-container-1{
    display: grid;
    grid-template-columns:100px 500px 100px 500px;
}

.grid-container-2{
    display: grid;
    grid-template-columns: 100px 500px 100px 500px;
}

.grid-container-3{
    display: grid;
    grid-template-columns: 100px 500px 100px 500px;
}



.grid-item{
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
}

.learnmore{
    color: blue;
}

.headline{
    font-size: 30px;

}

.grand-grid{
    padding-left: 50px;
}
