*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

}

.navbar a{
    text-decoration: none;
    color: beige;

}

.grid-container{
    display: grid;
    grid-template-rows: 100px 100px 300px 100px;
    grid-template-columns: repeat(3,1fr)150px;
    grid-gap: 20px;

}

.header{
background-color: rgb(10, 9, 9);
color: rgb(224, 220, 220);
grid-column: 1/-1;
text-align: center;
font-size: 120%;
}

.box-1{
    background-color: rgb(181, 176, 176);
    color: black;
    text-align: center;
    font-size: 120%;
}

.box-2{
    background-color: rgb(181, 176, 176);
    color: black;
    text-align: center;
    font-size: 120%;
}

.box-3{
    background-color:rgb(181, 176, 176);
    color: black;
    text-align: center;
    font-size: 120%;
}

.sidebar{
    grid-row: 2/4;
    grid-column: 4/5;
    background-color: rgb(181, 176, 176);
    color: black;
    text-align: center;
    font-size: 120%;
}

.main-content{
    grid-column: 1/4;
    background-color:rgb(181, 176, 176);
    color: black;
    text-align: center;
    font-size: 120%;
}

.footer{
    grid-column: 1/-1;
    background-color:rgb(6, 5, 5);
    color: rgb(244, 236, 236);
    text-align: center;
    font-size: 120%;
}
